.myBookingsImage {
  border-radius: 4%;
  height: 350px;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

/* Bookings card */
.myBookingsCard_Container {
  border: none;
  margin-bottom: 50px;
  cursor: pointer;
}
.myBookingsCard_Title {
  font-size: 21px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.myBookingsCard_Subtitle {
  font-size: 17px;
  margin-top: 3px;
}
.myBookingsCard_Text {
  font-size: 18px;
}
.myBookingsCard_Date {
  font-size: 15px;
  margin-top: 15px;
}

/* datepicker */
.datesAndGuestsContainer {
  max-width: 450px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  padding: 25px 55px;
}
.datePicker {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* dropdown */
.guestsDropdownToggle {
  width: 100%;
  height: 80px;
  padding: 10px;
  background-color: var(--neutral-0);
  color: black;
  border: 1px solid var(--neutral-400);
}
.guestsDropdownToggle:hover {
  background-color: var(--neutral-200);
  color: black;
  border: 1px solid var(--neutral-400);
}
.guestsDropdownToggle::after {
  display: none;
}
