.userBookings_Container {
  padding: 0 20px;
}

/* Media */
.myBookingsImage {
  border-radius: 4%;
  height: 350px;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Bookings card */
.myBookingsCard_Container {
  border: none;
  margin-bottom: 60px;
  margin-top: 12px;
}
.myBookingsCard_Title {
  font-size: 21px;
  display: flex;
  justify-content: space-between;
}
.myBookingsCard_Subtitle {
  font-size: 17px;
  margin-top: 3px;
  height: 35px;
}
.myBookingsCard_Text {
  font-size: 18px;
}
.myBookingsCard_Date {
  font-size: 15px;
  margin-top: 15px;
}
.viewBookingButton {
  background-color: var(--secondary-dark);
  color: var(--neutral-0);
}

/* Modal */
.userBookings_ModalBody {
  padding: 30px 65px;
}
.userBookings_ModalFooter,
.userBookings_ModalHeader {
  padding: 15px 65px;
}
/* datepicker */
.datesAndGuestsContainer {
  max-width: 450px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  padding: 25px 55px;
}
.datePicker {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* dropdown */
.guestsDropdownToggle {
  width: 100%;
  height: 80px;
  padding: 10px;
  background-color: var(--neutral-0);
  color: black;
  border: 1px solid var(--neutral-400);
}
.guestsDropdownToggle:hover {
  background-color: var(--neutral-200);
  color: black;
  border: 1px solid var(--neutral-400);
}
.guestsDropdownToggle::after {
  display: none;
}

/* screen sizes */
@media (max-width: 500px) {
  .datesAndGuestsContainer {
    padding: 25px 35px;
  }
  .userBookings_ModalBody {
    padding: 30px 35px;
  }
  .userBookings_ModalFooter,
  .userBookings_ModalHeader {
    padding: 15px 35px;
  }
}

@media (max-width: 400px) {
  .userBookings_Container {
    padding: 0 10px;
  }
  .userBookings_ModalBody {
    padding: 30px 20px;
  }
  .userBookings_ModalFooter,
  .userBookings_ModalHeader {
    padding: 15px 20px;
  }
  .myBookingsImage {
    height: 260px;
  }
  .myBookingsCard_Title {
    flex-direction: column;
  }
  .myBookingsCard_Text {
    margin-top: 5px;
  }
}
