.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.navbarToggle {
  font-size: 25px;
}
.navItemsContainer {
  margin-top: 15px;
  margin-right: 10px;
}

/* Toggle */
.pillToggle {
  padding: 5px 7px;
  border-radius: 25px;
  /* adjust the border-radius value as needed */
  border: 1px solid #ccc;
  /* add any other border styles you need */
}
.navbarToggle:hover {
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.141);
  /* adjust the box-shadow values as needed */
}
.avatarImage {
  width: 37px;
  height: 37px;
  border-radius: 60%;
  margin-left: 15px;
  object-fit: fill;
}
.customHamBars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--dark);
  font-size: 1rem;
  height: 22px;
  margin-left: 15px;
}
