.manageVenues_Container {
  padding: 0 30px;
}
.manageVenues_InputField {
  margin-right: 40px;
}
.manageVenues_Textarea {
  height: 150px;
  padding: 5px 15px;
  font-size: 20px;
}

/* Create venue */
.createVenueCard_container {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex: 1;
  padding: 20px;
  margin-top: 30px;
}

.createVenueMedia {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.mediaUrlsContainer {
  max-height: 200px;
  max-width: 320px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Venues already created */
.manageVenues_Image {
  border-radius: 4%;
  height: 350px;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.manageVenuesCard_Container {
  border: none;
  margin-bottom: 40px;
  margin-top: 12px;
}
.manageVenuesCard_Body {
  border: none;
  padding: 0;
}
.manageVenuesCard_Title {
  font-size: 21px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.manageVenuesCard_Subtitle {
  text-transform: capitalize;
  font-size: 19px;
  margin-top: 3px;
  height: 35px;
}
.manageVenuesCard_StarIcon {
  font-size: 0.8rem;
  margin-right: 5px;
  margin-bottom: 5px;
  color: var(--dark);
}
.manageVenuesCard_RatingText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 16px;
}
.manageVenuesCard_Price {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1.3px;
}

@media screen and (max-width: 985px) {
  .createVenueMedia_Button,
  .manageVenues_InputContainer {
    margin-top: 30px;
  }
}
@media screen and (max-width: 500px) {
  .createVenueMedia_Button {
    margin-top: 0;
  }
}
