.venuePage_Container {
  margin: 100px 0 60px 0;
}
.venuePage_Title {
  font-size: 45px;
  text-transform: capitalize;
}
.metaIcon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  margin-top: 4px;
}
.rating_Icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-top: 4px;
}
.verifiedIcon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  color: var(--success);
}
.dot {
  height: 4px;
  width: 4px;
  background-color: var(--dark);
  border-radius: 50%;
}
.titleContainer_location {
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1.3px;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.ownerContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.description_Container {
  display: flex;
  flex-direction: column;
  border: none;
  margin-right: 20px;
  padding-top: 20px;
}
.description_Body {
  padding: 0;
}

/* Media */
.venueImgContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.venueImgContainer img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}
.viewAllButton {
  position: absolute;
  bottom: 15px;
  right: 20px;
  color: white;
}
.venueImgFirst {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.venueImgOtherSections {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.ownerAvatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 15px;
}

/* datepicker */
.datesAndGuestsContainer {
  max-width: 450px;
  max-height: 320px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.datePickerContainer {
  width: 100%;
  display: flex;
}

.datePicker {
  width: 100%;
  padding: 10px;
  background-color: var(--neutral-0);
  color: black;
  border: 1px solid var(--neutral-400);
}

/* guests toggle */
.guestsDropdownToggle {
  width: 100%;
  height: 80px;
  padding: 10px;
  background-color: var(--neutral-0);
  color: black;
  border: 1px solid var(--neutral-400);
}
.guestsDropdownToggle:hover {
  background-color: var(--neutral-200);
  color: black;
  border: 1px solid var(--neutral-400);
}
.guestsDropdownToggle::after {
  display: none;
}

/* Location */
.addressContainer {
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1.3px;
}

@media screen and (max-width: 999px) {
  .venueImgOtherSections {
    display: none;
  }
  .datePickerContainer {
    flex-direction: column;
  }
}
