.venuePage_Container {
  margin: 100px 0 60px 0;
}
.venuePage_Title {
  font-size: 45px;
  text-transform: capitalize;
}
.metaIcon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  margin-top: 4px;
}
.rating_Icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-top: 4px;
}
.verifiedIcon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  color: var(--success);
}
.dot {
  height: 4px;
  width: 4px;
  background-color: var(--dark);
  border-radius: 50%;
}
.breakLine {
  width: 640px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 40px;
}

/* Title */
.titleLocation_Container {
  font-weight: 400;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.titleContainer_Text {
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1.3px;
}
.ownerContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 40px;
}

/* Description and Booking */
.description_Container {
  display: flex;
  flex-direction: column;
  border: none;
  margin-right: 20px;
  padding-top: 20px;
}
.description_Body {
  padding: 0;
}
.disabledButton {
  background-color: var(--neutral-400);
  border: none;
  cursor: not-allowed;
}
.disabledButton:active {
  background-color: var(--neutral-400);
}

/* datepicker */
.datesAndGuestsContainer {
  max-width: 450px;
  max-height: 320px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.datePickerContainer {
  width: 100%;
  display: flex;
}
.datePicker {
  width: 100%;
  padding: 10px;
  background-color: var(--neutral-0);
  color: black;
  border: 1px solid var(--neutral-400);
  cursor: pointer;
}
/* guests toggle */
.guestsDropdownToggle {
  width: 100%;
  height: 80px;
  padding: 10px;
  background-color: var(--neutral-0);
  color: black;
  border: 1px solid var(--neutral-400);
}
.guestsDropdownToggle:hover {
  background-color: var(--neutral-200);
  color: black;
  border: 1px solid var(--neutral-400);
}
.guestsDropdownToggle::after {
  display: none;
}

/* Media */
.venueImgContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.venueImgContainer img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}
.viewAllButton {
  position: absolute;
  bottom: 15px;
  right: 20px;
  color: white;
}
.venueImgFirst {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.venueImgOtherSections {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.ownerAvatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 15px;
}

/* Location */
.locationAddress_Text {
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1.3px;
}
.locationAddress_MapContainer {
  width: 1205px;
  height: 500px;
}
.googleMap {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  border-radius: 3px;
}

@media screen and (max-width: 1410px) {
  .googleMap {
    width: 89%;
  }
}

@media screen and (max-width: 1200px) {
  .googleMap {
    width: 78%;
  }
}

@media screen and (max-width: 999px) {
  .venueImgOtherSections {
    display: none;
  }
  .datePickerContainer {
    flex-direction: column;
  }
  .locationAddress_MapContainer {
    width: 665px;
    height: 390px;
  }
  .breakLine {
    width: 460px;
  }
  .datesAndGuestsContainer {
    max-height: 400px;
  }
}

@media screen and (max-width: 769px) {
  .breakLine {
    width: 360px;
  }
  .venueImgContainer img {
    max-height: 540px;
  }
}

@media screen and (max-width: 600px) {
  .locationAddress_MapContainer {
    height: 290px;
  }
  .googleMap {
    width: 60%;
  }
  .descriptionAndBook_Container {
    flex-direction: column;
  }
  .breakLine {
    width: 520px;
  }
  .venueImgContainer img {
    max-height: 440px;
  }
  .venuePage_Title {
    font-size: 35px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 400px) {
  .locationAddress_MapContainer {
    height: 290px;
  }
  .googleMap {
    width: 52%;
  }
  .locationSection_Container {
    padding-top: 25px;
  }
  .breakLine {
    width: 340px;
  }
  .venueImgContainer img {
    max-height: 400px;
  }
  .rating_Icon {
    width: 18px;
    height: 18px;
  }
  h5 {
    font-size: 22px;
  }
}

@media screen and (max-width: 321px) {
  .breakLine {
    width: 290px;
  }
  .googleMap {
    width: 43.5%;
  }
  .venueImgContainer img {
    max-height: 330px;
  }
}
